<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        Banking AIOps
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<header class="navbar">

    <div class="brand">
        🏦 SecureBank AI
    </div>

    <nav>

        <a href="{{ url_for('index') }}">
            Home
        </a>

        {% if session.get('account_no') %}

        <a href="{{ url_for('dashboard') }}">
            My Account
        </a>

        <a href="{{ url_for('security') }}">
            AIOps Security
        </a>

        <a href="{{ url_for('logout') }}">
            Logout
        </a>

        {% else %}

        <a href="{{ url_for('login') }}">
            Bank Login
        </a>

        <a href="{{ url_for('security') }}">
            Security Logs
        </a>

        {% endif %}

    </nav>

</header>


<main class="container">

    {% with messages = get_flashed_messages(
        with_categories=true
    ) %}

        {% for category, message in messages %}

            <div class="alert {{ category }}">
                {{ message }}
            </div>

        {% endfor %}

    {% endwith %}


    {% block content %}

    {% endblock %}

</main>

</body>

</html>